$small-width: 480px;
$medium-width: 768px;
$large-width: 1060px;

$color-red: #9b1d20;
$color-green: #d0ffce;
$color-blue: #96adc8;
$color-black: #121212;

@mixin extra-small {
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin small-up {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin medium-up {
  @media (min-width: #{$medium-width + 1px}) {
    @content;
  }
}

@mixin medium-down {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin large-down {
  @media (max-width: #{$large-width - 1px}) {
    @content;
  }
}
