@use "../../styles/utils.scss" as utils;

.wrapper {
  height: 5em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;

  span {
    justify-content: center;
    display: flex;
    gap: 0.4em;

    a {
      color: inherit;
    }
  }
}
