@use "./styles/utils.scss";

.wrapper {
  @include utils.medium-down {
    padding: 0 2em;
  }

  @include utils.medium {
    padding: 0 4em;
  }

  @include utils.large {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

.space {
  height: 400px;
}
